<div class="row">
  <div class="pt-5 pb-1">
    <h1 class="text-start mx-5 mt-5">成績入力</h1>
    <h2 class="text-start mx-5 my-3 my-text">専門科目の各評価の単位の合計数を入力してください。</h2>
  </div>
</div>
<hr class="border-dark mb-3 mt-0">

<%= render "grades/form" %>
