<div class="center jumbotron">
    <h1>成績入力</h1>

    <h2>
        専門科目の各評価の単位の合計数を入力してください。
    </h2>

</div>


<%= form_for @grade do |f| %>
  <% f.fields_for :score, @grade.build_score do |s| %>
    <div class="form-group">
      <%= s.label :AA, "A+" %>
      <%= s.text_field :AA %>
    </div>
  <% end %>

  <%= f.submit "送信" %>
<% end %>

