<div class="row">
  <div class="pt-5 pb-1">
    <h1 class="text-start title">アカウント削除</h1>
  </div>
</div>
<hr class="border-dark mb-3 mt-0">

<div class="row m-5 p-5 align-items-center">
  <div class="col-sm-1"></div>
  <div class="alert alert-warning my-text-2 align-items-center col-sm-10 col-12">
    <h4 class="alert-heading my-text-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="警告:">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
      アカウントを削除する前に、以下の注意点をご確認ください。
    </h4>
    <ul>
      <li>アカウントを削除すると、登録していたデータは全て削除されます。</li>
      <li>登録していたデータはランキングに表示されなくなります。</li>
    </ul>
  </div>
  <hr class="border-dark m-5">
  <%= button_to "削除", registration_path(resource_name), data: { confirm: "本当によろしいですか?" }, method: :delete, class: "btn btn-danger btn-lg my-2 fs-4" %>
  <div class="col-sm-1"></div>
</div>

