<div class="row">
  <div class="pt-5 pb-1">
    <h1 class="text-start title">利用方法</h1>
  </div>
</div>
<hr class="border-dark mb-0 mt-0">

<div class="row">
  <div class="heading pt-5 pb-1">
    <h3 class="text-start title-body">新規登録</h3>
  </div>
  <div class="text-start text-muted text-body text-wrap">
    <p>必要事項を記入してアカウントを作成してください。</p>
    <p>ユーザー名が実際に表示されます。未入力の場合は"匿名"で表示されます。</p>
  </div>
</div>

<div class="row">
  <div class="heading pt-5 pb-1">
    <h3 class="text-start title-body">成績入力</h3>
  </div>
  <div class="text-start text-muted text-body text-wrap">
    <p>専門科目の各評価の<strong>単位数</strong>の合計数を入力してください。</p>
    <p>全学共通科目は換算しません。</p>
  </div>
</div>

<div class="row">
  <div class="heading pt-5 pb-1">
    <h3 class="text-start title-body">トップページ</h3>
  </div>
  <div class="text-start text-muted text-body text-wrap">
    <p>成績を登録して頂いた全ユーザーの成績・入学年度・志望（配属済）研究室が表示されます。</p>
    <p>自分のデータは青色でハイライトされます。</p>
    <p>表の各項目名をクリックすると、その項目名でソートできます。</p>
    <p>ユーザーの入学年度・研究室でフィルターをかけたい場合は、表の検索欄に該当ワードを記入することでフィルタリングできます。</p>
    <p>例）2019年度・引原研のユーザーのみ表示したい場合は、 "2019 引原" と入力してください。</p>
  </div>
</div>

<div class="row">
  <div class="heading pt-5 pb-1">
    <h3 class="text-start title-body">お問い合わせ</h3>
  </div>
  <div class="text-start text-muted text-body text-wrap">
    <p>ご意見・ご不明点等ある場合は<a href="https://forms.gle/gXzTXfH2kyxhskJAA" target="_blank" rel="noopener noreferrer">こちら</a>よりお願いします。</p>
  </div>
</div>

<div class="row">
  <div class="heading pt-5 pb-1">
  </div>
</div>